@model BlobLists
@{
    ViewData["Title"] = "Result Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@if (Model.Links.Count > 0)
{
<div>
    @{if (Model.Links[0].Contains("result.txt"))
        {
            <li><td> <a href=@(Model.Links[0])>@ViewData["result"]</a></td> </li>
            <li><td> <a href=@(Model.Links[1])>@ViewData["file"]</a></td> </li>
        }
        else
        {
            <li><td> <a href=@(Model.Links[0])>@ViewData["file"]</a></td> </li>
            <li><td> <a href=@(Model.Links[1])>@ViewData["result"]</a></td> </li>
        }

    }
</div>
}

